#!/usr/bin/env bash

export DIRENV_WARN_TIMEOUT=10s

CURRENT_OS="$(uname -s)"

if [ "$CURRENT_OS" = "FreeBSD" ]; then
  mise v
  # eval "$(mise activate zsh)"
else
  eval "$(devenv direnvrc)"
  export DEVENV_TUI=false
  use devenv
  export CONFIG_MQTT_DEFAULT_HOST="10.0.0.198"
  export CONFIG_MQTT_DEFAULT_USERNAME="$(sops -d --extract '["CONFIG_MQTT_DEFAULT_USERNAME"]' secrets.yaml)"
  export CONFIG_MQTT_DEFAULT_PASSWORD="$(sops -d --extract '["CONFIG_MQTT_DEFAULT_PASSWORD"]' secrets.yaml)"

  export CONFIG_WIFI_CREDENTIALS_STATIC_SSID="$(sops -d --extract '["CONFIG_WIFI_CREDENTIALS_STATIC_SSID"]' secrets.yaml)"
  export CONFIG_WIFI_CREDENTIALS_STATIC_PASSWORD="$(sops -d --extract '["CONFIG_WIFI_CREDENTIALS_STATIC_PASSWORD"]' secrets.yaml)"

  export PULUMI_CONFIG_PASSPHRASE="$(sops -d --extract '["PULUMI_CONFIG_PASSPHRASE"]' secrets.yaml)"
fi
