#!/usr/bin/env bash

export DIRENV_WARN_TIMEOUT=10s

CURRENT_OS="$(uname -s)"

if [ "$CURRENT_OS" = "FreeBSD" ]; then
  mise v
  # eval "$(mise activate zsh)"
else
  eval "$(devenv direnvrc)"
  export DEVENV_TUI=false
  use devenv
  pulumi org set-default MFarabi619
  eval "$(esc env open MFarabi619/platform/dev@latest --format shell)"
fi
