#!/usr/bin/env bash

export DIRENV_WARN_TIMEOUT=10s

CURRENT_OS="$(uname -s)"

if [ "$CURRENT_OS" = "FreeBSD" ]; then
  mise v
  # eval "$(mise activate zsh)"
else
  eval "$(devenv direnvrc)"
  export DEVENV_TUI=false
  use devenv
  export MQTT_HOST="10.0.0.198"
  export MQTT_USERNAME="$(sops -d --extract '["MQTT_USERNAME"]' secrets.yaml)"
  export NATS_MQTT_PASSWORD="$(sops -d --extract '["NATS_MQTT_PASSWORD"]' secrets.yaml)"

  export WIFI_SSID="$(sops -d --extract '["WIFI_SSID"]' secrets.yaml)"
  export WIFI_PSK="$(sops -d --extract '["WIFI_PSK"]' secrets.yaml)"

  export PULUMI_CONFIG_PASSPHRASE="$(sops -d --extract '["PULUMI_CONFIG_PASSPHRASE"]' secrets.yaml)"
fi
