#====================================================
#               Build/Test Outputs
#====================================================
**/debug/
**/target/
debug/
target/
**/result

#====================================================
#                 Caches & Logs
#====================================================
.devenv*
devenv.local.nix
**/.direnv/
**.qcow2
.pre-commit-config.yaml
**/*.rs.bk
# MSVC Windows builds of rustc generate these, which store debugging information
*.pdb
*.sqlite
*.sqlite-*

#====================================================
#                  Miscellaneous
#====================================================
**/config/local.yaml
**/config/*.local.yaml
**/config/production.yaml
.DS_Store
*.pem
*tmp*
.idea/
.project
.classpath
.c9
*.launch
.vscode/*
.settings
!.vscode/extensions.json
!.vscode/settings-example.json

!Cargo.lock
**/!Cargo.lock

**/.git-hooks
.open-webui
.webui_secret_key
