[Unit]
Description=ROS2 process stack
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=mfarabi
WorkingDirectory=/home/mfarabi/MFarabi619
ExecStart=/home/mfarabi/.pixi/bin/pixi run robot
LimitRTPRIO=95
LimitMEMLOCK=infinity
Restart=on-failure
RestartSec=2
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
