#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/i2c/i2c.h>

/ {
	aliases {
		status-led = &status_led;
		eeprom-0 = &i2c_eeprom;
		rtc = &rtc;
	};

	rtc: rtc {
		status = "okay";
		compatible = "zephyr,rtc-emul";
	};

	gpio_emul0: gpio_emul0 {
		status = "okay";
		compatible = "zephyr,gpio-emul";
		gpio-controller;
		rising-edge;
		falling-edge;
		high-level;
		low-level;
		#gpio-cells = <2>;
		ngpios = <8>;
	};

	i2c_emul0: i2c@100 {
		status = "okay";
		compatible = "zephyr,i2c-emul-controller";
		clock-frequency = <I2C_BITRATE_STANDARD>;
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x100 4>;

		i2c_eeprom: eeprom@57 {
			compatible = "atmel,at24";
			reg = <0x57>;
			size = <256>;
			pagesize = <8>;
			address-width = <8>;
			timeout = <5>;
		};
	};

	leds {
		compatible = "gpio-leds";
		status_led: led_0 {
			gpios = <&gpio_emul0 0 GPIO_ACTIVE_HIGH>;
			label = "status";
		};
	};
};
