mouse_mode             true
pane_frames            false
mirror_session         true
show_startup_tips      false
show_release_notes     false
advanced_mouse_actions true

web_server    false        // always start the web server on Zellij startup (default: false)
web_server_ip "127.0.0.1" // the IP to listen on, 0.0.0.0 is all (default: 127.0.0.1)
web_server_port 8082    // the port to listen on (default: 8082)
// web_server_cert "/path/to/my/certs/localhost+3.pem" // SSL certificate
// web_server_key "/path/to/my/certs/localhost+3-key.pem" // SSL private key
enforce_https_on_localhost false // whether to enforce an https certificate being present also when listening on localhost (default: false)


ui {
    pane_frames {
        rounded_corners true
        hide_session_name true
    }
}
