[Unit]
After=network.target
Description=lg remote GPIO daemon (rgpiod)
PartOf=robot.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=2
Environment=LD_LIBRARY_PATH=/usr/local/lib
ExecStart=/usr/local/bin/rgpiod

[Install]
WantedBy=robot.target
