#include <zephyr/dt-bindings/gpio/gpio.h>

&gpioe {
	motor_dir_hog {
		gpio-hog;
		gpios = <14 GPIO_ACTIVE_HIGH>, <13 GPIO_ACTIVE_LOW>;
		output-high;
	};
};

&timers1 {
	st,prescaler = <20>;
	status = "okay";

	pwm1: pwm {
		status = "okay";
		pinctrl-0 = <&tim1_ch1_pe9 &tim1_ch2_pe11>;
		pinctrl-names = "default";
	};
};

&i2c1 {
	tca9548a: tca9548a@70 {
		compatible = "ti,tca9548a";
		reg = <0x70>;
		#address-cells = <1>;
		#size-cells = <0>;

		i2c_mux0: i2c@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
			enc_left: as5600@36 { compatible = "ams,as5600"; reg = <0x36>; };
		};
		i2c_mux1: i2c@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			enc_right: as5600@36 { compatible = "ams,as5600"; reg = <0x36>; };
		};
		i2c_mux2: i2c@2 { reg = <2>; #address-cells = <1>; #size-cells = <0>; };
		i2c_mux3: i2c@3 { reg = <3>; #address-cells = <1>; #size-cells = <0>; };
		i2c_mux4: i2c@4 { reg = <4>; #address-cells = <1>; #size-cells = <0>; };
		i2c_mux5: i2c@5 { reg = <5>; #address-cells = <1>; #size-cells = <0>; };
		i2c_mux6: i2c@6 { reg = <6>; #address-cells = <1>; #size-cells = <0>; };
		i2c_mux7: i2c@7 { reg = <7>; #address-cells = <1>; #size-cells = <0>; };
	};
};

/*
/ {
	hc_sr04: hc-sr04 {
		compatible = "hc-sr04";
		trigger-gpios = <&gpiog 14 GPIO_ACTIVE_HIGH>;
		echo-gpios = <&gpiog 12 GPIO_ACTIVE_HIGH>;
	};
};
*/
