#include <zephyr/dt-bindings/gpio/gpio.h>

&gpioe {
	motor_dir_hog {
		gpio-hog;
		gpios = <14 GPIO_ACTIVE_HIGH>, <13 GPIO_ACTIVE_LOW>;
		output-high;
	};
};

&timers1 {
	st,prescaler = <20>;
	status = "okay";

	pwm1: pwm {
		status = "okay";
		pinctrl-0 = <&tim1_ch1_pe9 &tim1_ch2_pe11>;
		pinctrl-names = "default";
	};
};
