rsource "../networking/wireguard/Kconfig"

config HAS_SEGGER_RTT
	default y

config FORCE_RUST_SUPPORTED
	bool
	default y
	select RUST_SUPPORTED

config FILE_SYSTEM_SHELL
	default y if SHELL && FILE_SYSTEM

config PROMPT_TZ_OFFSET_MINUTES
	int "Prompt clock timezone offset (minutes from UTC)"
	default -240

if ESP_SPIRAM
config ESP_SPIRAM_MEMTEST
	default y
endif

if SOC_SERIES_ESP32S3 && WIFI_ESP32
config ESP32_WIFI_IRAM_OPT
	default y
config ESP32_WIFI_RX_IRAM_OPT
	default y
config ESP32_WIFI_STA_RECONNECT
	default y
endif

if BOARD_XIAO_ESP32S3 || BOARD_ESP32S3_DEVKITC
config ESP_SPIRAM_HEAP_SIZE
	default 6291456

choice SPIRAM_MODE
	default SPIRAM_MODE_OCT
endchoice

choice ESPTOOLPY_FLASHMODE
	default ESPTOOLPY_FLASHMODE_QIO
endchoice

choice ESPTOOLPY_FLASHFREQ
	default ESPTOOLPY_FLASHFREQ_40M
endchoice

choice ESPTOOLPY_FLASHSIZE
	default ESPTOOLPY_FLASHSIZE_8MB
endchoice

choice WIFI_USAGE_MODE
	default WIFI_USAGE_MODE_STA_AP
endchoice
endif

if !BOARD_WALTER
config MCUMGR_GRP_SHELL
	default y if MCUMGR && SHELL
config SHELL_BACKEND_DUMMY
	default y if MCUMGR && SHELL
config FLASH_SHELL
	default y if FLASH && SHELL && FLASH_PAGE_LAYOUT
config FLASH_MAP_SHELL
	default y if FLASH_MAP && SHELL
endif

config HEAP_MEM_POOL_SIZE
	default 65536

config MAIN_STACK_SIZE
	default 8192

config SHELL_STACK_SIZE
	default 8192 if SQLITE
	default 5200

config SYSTEM_WORKQUEUE_STACK_SIZE
	default 4096
